<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/jcansdale/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <!-- Public token with `read:packages` scope -->
      <add key="Username" value="jcansdale-robot" />
      <add key="ClearTextPassword" value="cd15a482e7c5862e6ea6ef4797f7a5b2f4114f4a" />
    </github>
  </packageSourceCredentials>
</configuration>
